Source: lxccu
Maintainer: LXCCU Team <team@lxccu.org>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 9)

Package: lxccu
Architecture: all
Depends:  patch,openssl, tar (>=1.26), gzip, wget, lxc, bridge-utils, python2.7 | python2.6, python (>= 2.6), python (<< 2.8), python-lzo, uml-utilities, ${misc:Depends}
Description: This install the homematic ccu firmware in a linux container